.dataframe thead {
    background-color: grey ;
    text-align: center ;
}

.dataframe thead tr th{
    text-align: center ;
}

.dataframe tbody tr td {
    text-align: center ;
    color: gray;
}

.dataframe tbody tr td:nth-of-type(1) {
    text-align: center ;
    color: black;
}

.dataframe tbody tr td:nth-of-type(2) {
    text-align: center ;
    color: orange;
    font-size: smaller;
}

.dataframe tbody tr td:nth-of-type(3) {
    text-align: center ;
    color: green;
    font-size: x-small;
}

.tempgraph {
    display: float ;
}

.humgraph {
    display: float ;
}
