<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>Visualisation des données ruche</h1>
    <a href="./table">
      <h2>En tableau</h2>
    </a>
    <a href="./csv">
      <h2>Exporter CSV</h2>
    </a>
    <a href="./graph">
      <h2>En graphique</h2>
    </a>
  </body>
</head>
  
